

@font-face {
    font-family: 'Patriot Black';
    src: url("file:src/main/resources/fonts/Patriot-Black.otf");
}

@font-face {
    font-family: 'Relieve';
    src: url("file:src/main/resources/fonts/Relieve.ttf");
}

@font-face{
    font-family: 'Subjectivity Black';
    src: url("file:src/main/resources/fonts/Subjectivity-Black.otf");
}

#titleLabel {
    -fx-font-family: 'Relieve Demo';
    -fx-font-size: 50px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 0px 70px;
}

#heading1Label {
    -fx-font-family: "Subjectivity Black";
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0px 0 0 70px;
}

#mainStallLabel{
    -fx-font-family: "Subjectivity Black";
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 0px 90px;
}

#dessertStallLabel{
    -fx-font-family: "Subjectivity Black";
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 0px 90px;
}

#drinkStallLabel{
    -fx-font-family: "Subjectivity Black";
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0 0 0px 90px;
}

.button {
    -fx-background-color: white;
    -fx-font-family: "Subjectivity Black";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 50px;
    -fx-border-color: #F5A623;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-padding: 10px 20px 10px 15px; /* Adjusted padding to balance the play symbol */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 2);
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-transition: -fx-background-color 0.3s, -fx-border-color 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s, -fx-effect 0.3s;
}

.button:hover {
    -fx-background-color: #F5A623;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 3);
}

.button .label {
    -fx-text-fill: #F5A623; /* Default text color for labels inside the button */
}

.button:hover .label {
    -fx-text-fill: white; /* Text color when hovered */
}

#vBoxFeedback{
    -fx-background-image: url("file:src/main/resources/images/starhandphone.png");
    -fx-background-size: 1000px 1000px;
    -fx-background-position: left 450px top -110px;
    -fx-background-repeat: no-repeat;
}